// COLORS
$primary-color: #02aab0;
$secondary-color: #A60067;
$secondary-headings-color-text: #ff7f11;

$white-color: #fff;
$bg-color-dark: #16161a;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$headings-color-text: #e6e6e6; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
